$darkbluecomet: #141413;
$white: #fff;
$magent: #FE6452;
$blues: #0531FA;
$yellowstone: #FCCF5E;


body {
  --foregroundPrimary: #{$darkbluecomet}; 
  --foregroundSecondary: #{$darkbluecomet}; 
  --backgroundPrimary: #{$white};
  --backgroundSecondary: #{$darkbluecomet}; 

  @include whenDark {
    --foregroundPrimary: #{$white};
    --foregroundSecondary: #{$white};
    --backgroundPrimary: #{$darkbluecomet};
    --backgroundSecondary: #{$white};
    //#{darken($yellowstone, 30%)};  
  }
}